body{
  width: 100%;
  margin: 0 auto;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}

nav{
  z-index: 10001;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13%;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

.site-logo img {
  height: 50px;
  width: 200px;
}

.menu a {
  color: black;
  text-decoration: none;
}
.menu li a:hover {
  text-decoration: solid underline;
  color: rgb(5, 65, 5);
}

.dash {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-links{
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-links.seen {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #495e57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;

}



/* header section */

header {
  background-color: #495e57;
  padding: 40px 0;
  width: 100%;
}


header section {
color: #EDEFEE;
padding: 10px 13%;
position: relative;
}

.banner {
  display: flex;
}

h2 {
  color: #F4CE14;
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

.banner p {
  font-size: 20px;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.banner-image {
  position: absolute;
}

.banner img {
  position: absolute;
  right: 13%;
  top: 15%;
  width: 400px;
}

.banner button {
  border-radius: 10px;
  width: 200px;
  height: 40px;
  color: black;
  background-color: #F4CE14;
  cursor: pointer;
}

form {
  background-color: #495e57;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 0;
  align-items:baseline;
}

form .choosedate {
  color: white;
}

#choose-date, #choose-time, #choose-guests, #choose-occasion{
  background:white;
  padding: 8px 24px;
  border:#333333;
  outline:#333333;
  border-radius: 5px;
}


@media screen and (max-width: 768px){
  .menu-icon {
    display: block;
  }

  .menu-links {
    display: none;
  }

  .menu-links.seen {
    display: flex;
    background: #333333;
    z-index: 1000;
    padding: 20px 0;
  }

  .nav-bar{
    background:#fff;
    padding: 10px 8%;
  }

  nav ul li a{
    color: #fff;
  }

  .dash{
    background: #333333;
  }

  .banner-image {
    display:none;
  }
}